! Xft.dpi: 120

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.theme: simpleandsoft

! special
*.foreground:   #433b32
*.background:   #dbd6d1
*.cursorColor:  #433b32

! black
*.color0:       #16130f
*.color8:       #5a5047

! red
*.color1:       #826d57
*.color9:       #826d57

! green
*.color2:       #57826d
*.color10:      #57826d

! yellow
*.color3:       #6d8257
*.color11:      #6d8257

! blue
*.color4:       #6d5782
*.color12:      #6d5782

! magenta
*.color5:       #82576d
*.color13:      #82576d

! cyan
*.color6:       #576d82
*.color14:      #576d82

! white
*.color7:       #a39a90
*.color15:      #dbd6d1
